@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Comfortaa:700');
@import url('https://fonts.googleapis.com/css?family=Courgette');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300');
@import url('https://fonts.googleapis.com/css?family=Cookie');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');




#body{
    margin: 0px;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center; 
    height: 100vh;
}
#body-wrapper{
    /*background: rgba(255, 255, 255, 0.534);*/
    min-height: 100vh;
}

#time-container{
    vertical-align: bottom;
    text-align: right;
    position: fixed;
    bottom: 0%;
    width: 100%;
}

#salutation{
    text-align: right;
    font-family: 'Cookie', cursive;
    color: white;
    padding: 20px;
    font-size: 4em;
    font-weight: 700;
}
#local-time-wrapper{
    text-align: center;
    color: white;
    font-weight: 700;
    font-family: 'Comfortaa', cursive;
    font-size: 6em;
}
#local-day{
    font-family: 'Abril Fatface', cursive;
    color: rgb(255, 0, 64);
}
#daily-quote-wrapper{
    padding-right: 10px;
    text-align: center;
    font-size:2em;
    font-family: 'Courgette', cursive;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    padding: 10px;
    width: 100%;
}
#quote-author{
    color: rgb(128, 215, 196);
    font-size: 1.2em;
    font-family: 'Source Sans Pro', sans-serif;
}
input{
    background: unset;
    border: unset;
    border-bottom: 1px solid white;
    font-size: .5em;
    font-family: 'Oswald', sans-serif;
    color: rgb(255, 0, 64);
}
input:focus{
    background: unset;
    outline-width: 0;
}
#daily-items{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    height: 28vh;
}
.daily-header{
    color: red;
    font-size: 1.5em;
}
hr{
    border: 1px solid red;
}
ul{
    margin: 0px;
    padding: 0px;
    padding-left: 20px;
}
li{
    list-style-type: disc;
    padding: 5px;
    margin: 0px;
    color: red;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: red;
}
#searchbar {
    width: 100%;
    margin: auto;
    position: fixed;
    top: 40%;
    font-size: 3em;
    font-family: 'Ubuntu', sans-serif;
}
form {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid rgb(243, 14, 83);
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.37);
    color: white;
}
form input[type="text"]{
    width: 75%;
    margin: auto;
    border: unset;
    font-weight: 300;
    padding: 10px 5px;
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
}
form button[type="submit"]{
    background: unset;
    border: unset;
    width: 10%;
    text-align: left;
    padding-left: 10px;
    font-size: .7em;
    font-weight: 900;
    color: rgb(243, 14, 83);
    outline: none;
    cursor: pointer;
}
::-webkit-scrollbar{
    display: none;
}
